@import "reset.css";
@import "960.css";

html {
  font-size: 62.5%;
}

#contents {
  border-style: solid;
  border-top-width: 1px;
  color: #121212;
  font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 4em;
  /* letter-spacing: 0.5px; */
  line-height: 1.4em;
  margin-top: 10px;
  padding-top: 60px;
  text-shadow: 1px 1px 1px #aaa;
  text-decoration: none;
}

#header {
  color: #333;
  font-family: 'Droid Serif', serif;
  font-size: 5.7em;
  font-style: normal;
  font-weight: 400;
  /* text-shadow: 2px 2px 2px #aaa; */
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1em;
}

#contents a {
  color: #121212;
  font-weight: 500;
  text-decoration: none;
}

#header a {
  color: #333;
  font-weight: 400;
  text-decoration: none;
}

body {
  background: #F5F5F5;
  padding-top: 2.5em;
}

.container_12 {
  background-color: #FFF;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px #AAA;
  padding: 60px 10px;
}
