@import "reset.css";
@import "960.css";

html {
  font-size: 62.5%;
}

p {
  color: #121212;
  font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-top: 1em;
}

h2 {
  font-family: 'Droid Serif', serif;
  font-size: 3em;
  letter-spacing: 0.05em;
  /*margin-bottom: 1.5em; */
  margin-top: 1.5em;
  padding-bottom: 10px;
}

h3 {
  color: #111
  font-family: 'Droid Serif', serif;
  font-size: 2.1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.bignavigation {
  color: #121212;
  font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 4.5em;
  /* letter-spacing: 0.5px; */
  line-height: 1.4em;
  margin-top: 10px;
  padding-top: 1em;
  text-shadow: 1px 1px 1px #aaa;
  text-decoration: none;
}

#header {
  border-bottom-width: 1px;
  border-style: solid;
  color: #333;
  font-family: 'Droid Serif', serif;
  font-size: 5em;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 400;
  /* text-shadow: 2px 2px 2px #aaa; */
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1em;
}

.bignavigation a {
  color: #121212;
  font-weight: 500;
  text-decoration: none;
}

#header a {
  color: #333;
  font-weight: 400;
  text-decoration: none;
}

body {
  background: #F5F5F5;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.container_12 {
  background-color: #FFF;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px #AAA;
  padding: 60px 10px;
}
