<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
      var _kmq = _kmq || [];
      function _kms(u){
        setTimeout(function(){
          var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
          s.src = u; f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/7342dfed6742d46766ca3a4627f9b7ee47579029.1.js');
    </script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:regular|Droid+Sans:regular" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="{{ site.url }}/css/main.css" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16446358-1']);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
    <link href="https://www.google.com/accounts/o8/ud?source=profiles" rel="openid2.provider" />
    <link href="http://www.google.com/profiles/seancron" rel="openid2.local_id" />
  </head>

  <body>
    <div class="container_12">
      <div id="header" class="grid_12"> 
        {% if site.title %}
          <h1><a href="{{site.url}}">{{site.title}}</a></h1>
	{% endif %}
      </div>
      <div class="clear"></div>
      <div id="navigation" class="grid_10 prefix_1 suffix_1">
        {% comment %} {% include navigation.html %} {% endcomment %}
      </div>
      <div class="clear"></div>
      {{ content }}
      <div class="clear"></div>
    </div>
  </body>
</html>
